.card {
    position: relative;
    .card-body {
        background-color: white;
    }
}

.profile-page {
    .card-profile {
        z-index: 1;
        .card-profile-image {
            position: relative;

            img {
                &.bounce {
                    @extend .shadow;
                    max-width: 220px;
                    transform: translate(-50%,-30%);
                    position: absolute;
                    left: 50%;
                    top: 80px;
                    transition: $transition-base;
                    border: 1px solid $orange;
                    &:hover {
                        transform: translate(-50%, -33%);
                    }
                }
                max-width: 280px;
                position: absolute;
            }
        }

        .card-profile-stats {
            padding: 1rem 0;

            > div {
                text-align: center;
                margin-right: 1rem;
                padding: .875rem;

                &:last-child {
                    margin-right: 0;
                }

                .heading {
                    font-size: 1.1rem;
                    font-weight: bold;
                    display: block;
                }
                .description {
                    font-size: .875rem;
                    color: $gray-500;
                }
            }
        }

        .card-profile-actions {
            padding: .875rem;
        }

        @include media-breakpoint-down(xs) {
            .card-profile-actions {
                margin-top: 110px;
            } 
        }

        @include media-breakpoint-between(sm, md) {
            .card-profile-stats {
                margin-top: 30px;
            }
        }
    }
}

// Card with blockquotes

.card {
    .card-blockquote {
        padding: 2rem;
        position: relative;

        .svg-bg {
            display: block;
            width: 100%;
            height: 95px;
            position: absolute;
            top: -94px;
            left: 0;
        }
    }
}

// Animated cards

.card-lift--hover {
    &:hover {
        transform: translateY(-20px);
        @include transition($transition-base);
    }
}

// Container-Y cards

.container-y > .card-body {
    min-height: 700px;
    max-height: 700px;
}