// Amoeb carousel

.vertical-btn{ 
    padding: .25rem .5rem .5rem .25rem;
    font-size: 2rem;
    white-space: nowrap;
    transform: rotate(-90deg);
    cursor: pointer;
    color: $gray-100;
    background-color: lighten($orange, 10%);
    &:hover {
        background-color: $orange;
        transform: rotate(-90deg);
        color: #fff;
    }
}

.btn{
    white-space: normal;
    &.active {
        color: #fff;
        background-color: rgba(19, 34, 64, 1);
    }
}

img {
    max-height: 100%;
    max-width: 100%;
}

.gallery-grid  {
    @media  only screen and (max-width: 1340px){
        display: flex;
        justify-content: space-between;
    }

    @media only screen and (min-width: 1340px) {
        display: grid;
        grid-template-columns: 38px 200px auto;
        justify-content: space-evenly;
    }


    .left-nav-container {
        @media only screen and (min-width: 1340px) {
            display: inline-flex !important;
            margin-left: -75px;
            min-height: 760px;
            & .btn {
                width: 188px;
            }
        }
        @media only screen and (min-width: 768px) {
            display: none;
        }
    }
}

.list-group-item {
    background-color: transparent;
    border: 0;
}

.btn-group-vertical > .btn {
    font-size: 0.8em;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    &:last-of-type {
        display: none;
    }
}

.gallery-nav {
    height: 695px;
    text-align: left;
    overflow: auto;
    @media only screen and (min-width: 1340px){
        display: block !important;
    }
}

.gallery-nav-item{
    padding: 1em 1.5em;
    list-style: none;
    width: 100%;
    cursor: pointer;
    margin-bottom: 1px;
    color: $orange;
    &:hover, &.active {
        background-color: rgba(19, 34, 64, .5);
        color: lighten($orange, 10%);
    }
}

.gallery-wrapper {
    position: relative;
    @include media-breakpoint-up(md){
        min-width: 925px;
    }
}

.gallery-wrapper, .gallery-nav {
    min-height: 695px;
}

.btn.list-group-item {
    word-wrap: break-word;
    z-index: 1;
    text-align: left;
}

@include media-breakpoint-down(md) {
    .gallery-wrapper, .list-group-wrapper {
        min-height: 100%;
    }
}

.outer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (min-width: 768px) {
        object-fit: contain;
        overflow: hidden;
        min-width: 800px;
        min-height: 585px;
    }
}
  
.slide-wrapper {
    width: 100%;
}

/* Buttons. */
.button-wrapper {
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    @media only screen and (max-width: 1340px) {
        display: none;
    }
}
  
.direction-button {
    background-color: transparent;
    border: 0;
    padding: 10rem 10rem;
    color: white;
    outline: none;
    align-self: flex-start;
}
  
.direction-button::before {
    position: absolute;
    top: 40%;
    font-size: 3em;
    font-family: FontAwesome;
    display: inline-block;
    padding-right: 6px;
}

.prev::before {
    left: 1rem;
    content: "\f104";
}

.next::before {
    right: 1rem;
    content: "\f105";
}

.fullscreen-button {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    cursor: pointer;
}

/* These classes control the 'dots' that show which slide the user is on. */
.indicator-wrapper {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1rem;
    text-align: center;
}
.indicator {
    display:inline-block;
    margin-right: 0.5rem;
    width: 1rem;
    height: 1rem;
    @media only screen and (max-width: 1340px) {
        display: none;
    }
}
  
/* Simple fade transition. */
.fade-enter-active,
.fade-leave-active { transition: opacity .7s; }
.fade-enter,
.fade-leave-to { opacity: 5; }